In [1]:
import json
import requests  
import pandas as pd

url = 'https://api.ims.gov.il/v1/envista/stations/178'
url = 'https://api.ims.gov.il/v1/envista/stations/178/data/daily'
url = 'https://api.ims.gov.il/v1/envista/stations/178/data/latest'
headers = {'Authorization': 'ApiToken f058958a-d8bd-47cc-95d7-7ecf98610e47' }  
response = requests.request("GET", url, headers=headers) 
data= json.loads(response.text.encode('utf8')) 
print (data)

{'stationId': 178, 'data': [{'datetime': '2024-03-12T15:00:00+02:00', 'channels': [{'id': 1, 'name': 'Rain', 'alias': None, 'value': 0.0, 'status': 1, 'valid': True, 'description': None}, {'id': 2, 'name': 'WSmax', 'alias': None, 'value': 2.5, 'status': 1, 'valid': True, 'description': None}, {'id': 3, 'name': 'WDmax', 'alias': None, 'value': 336.0, 'status': 1, 'valid': True, 'description': None}, {'id': 4, 'name': 'WS', 'alias': None, 'value': 1.8, 'status': 1, 'valid': True, 'description': None}, {'id': 5, 'name': 'WD', 'alias': None, 'value': 330.0, 'status': 1, 'valid': True, 'description': None}, {'id': 6, 'name': 'STDwd', 'alias': None, 'value': 9.4, 'status': 1, 'valid': True, 'description': None}, {'id': 7, 'name': 'TD', 'alias': None, 'value': 23.2, 'status': 1, 'valid': True, 'description': None}, {'id': 8, 'name': 'RH', 'alias': None, 'value': 66.0, 'status': 1, 'valid': True, 'description': None}, {'id': 9, 'name': 'TDmax', 'alias': None, 'value': 23.4, 'status': 1, 'valid': True, 'description': None}, {'id': 10, 'name': 'TDmin', 'alias': None, 'value': 23.0, 'status': 1, 'valid': True, 'description': None}, {'id': 11, 'name': 'WS1mm', 'alias': None, 'value': 2.2, 'status': 1, 'valid': True, 'description': None}, {'id': 12, 'name': 'Ws10mm', 'alias': None, 'value': 2.1, 'status': 2, 'valid': False, 'description': None}, {'id': 13, 'name': 'Time', 'alias': None, 'value': 1457.0, 'status': 2, 'valid': False, 'description': None}]}]}

In [2]:
# Initial parse of the data
df = pd.DataFrame.from_dict(data['data'])
df

<class 'dict'>

,datetime,channels
0,2024-03-12T15:00:00+02:00,"[{'id': 1, 'name': 'Rain', 'alias': None, 'val..."

In [3]:
# Exploring the data
df2 = pd.DataFrame(df['channels'][0])
df2 = df2[df2['status'] == 1]
df2

    id   name alias  value  status  valid description
0    1   Rain  None    0.0       1   True        None
1    2  WSmax  None    2.5       1   True        None
2    3  WDmax  None  336.0       1   True        None
3    4     WS  None    1.8       1   True        None
4    5     WD  None  330.0       1   True        None
5    6  STDwd  None    9.4       1   True        None
6    7     TD  None   23.2       1   True        None
7    8     RH  None   66.0       1   True        None
8    9  TDmax  None   23.4       1   True        None
9   10  TDmin  None   23.0       1   True        None
10  11  WS1mm  None    2.2       1   True        None

In [4]:
# Get the temprature
df_temp = df2[df2['name'] == 'TD'].reset_index(drop=True)
df_temp['value'][0]

23.2

In [6]:
# Get the rain
df_rain = df2[df2['name'] == 'Rain'].reset_index(drop=True)
df_rain['value'][0]

0

In [25]:
print (data)
print(data['data'][0]['channels'][6]['value'])
print(data['data'][0]['channels'][0]['value'])

{'stationId': 178, 'data': [{'datetime': '2024-03-12T15:00:00+02:00', 'channels': [{'id': 1, 'name': 'Rain', 'alias': None, 'value': 0.0, 'status': 1, 'valid': True, 'description': None}, {'id': 2, 'name': 'WSmax', 'alias': None, 'value': 2.5, 'status': 1, 'valid': True, 'description': None}, {'id': 3, 'name': 'WDmax', 'alias': None, 'value': 336.0, 'status': 1, 'valid': True, 'description': None}, {'id': 4, 'name': 'WS', 'alias': None, 'value': 1.8, 'status': 1, 'valid': True, 'description': None}, {'id': 5, 'name': 'WD', 'alias': None, 'value': 330.0, 'status': 1, 'valid': True, 'description': None}, {'id': 6, 'name': 'STDwd', 'alias': None, 'value': 9.4, 'status': 1, 'valid': True, 'description': None}, {'id': 7, 'name': 'TD', 'alias': None, 'value': 23.2, 'status': 1, 'valid': True, 'description': None}, {'id': 8, 'name': 'RH', 'alias': None, 'value': 66.0, 'status': 1, 'valid': True, 'description': None}, {'id': 9, 'name': 'TDmax', 'alias': None, 'value': 23.4, 'status': 1, 'valid': True, 'description': None}, {'id': 10, 'name': 'TDmin', 'alias': None, 'value': 23.0, 'status': 1, 'valid': True, 'description': None}, {'id': 11, 'name': 'WS1mm', 'alias': None, 'value': 2.2, 'status': 1, 'valid': True, 'description': None}, {'id': 12, 'name': 'Ws10mm', 'alias': None, 'value': 2.1, 'status': 2, 'valid': False, 'description': None}, {'id': 13, 'name': 'Time', 'alias': None, 'value': 1457.0, 'status': 2, 'valid': False, 'description': None}]}]}
23.2
0.0